/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/

/* корневые цвета*/

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-black-light: #333333;
  --basic-blue-light: #81b3d2;
  --basic-gray-light: #eeeeee;
  --basic-brown: #766357;
  --basic-color-footer: rgba(255, 255, 255, 0.9);
  --basic-color-site: #f2f2f2;
  --color-backgroundimage: rgba(61,119,164,0.6);
  --border-white: #E5E5E5;
  --toggle:#ababab;
  --shadow-toggle: #cfcfcf;
  --shadow-footer: rgba(0, 0, 0, 0.25);
  --shadow-modal: rgba(0, 1, 1, 0.15);


  /* покой*/
  --rest-black-rgb: rgba(0, 0, 0, 0.3);
  --rest-input: #f2f2f2;
  --rest-icon-calendar: #a9a9a9;
  /* для треугольников */
  --rest-triangle: #cacaca;

  /* наведение */
  --hover-btn-blue: #669ec0;
  --hover-btn-brown: #604e43;
  --hover-text-blue: #81b3d2;
  --hover-input: #ebebeb;

  /* нажатие */
  --active-text-blue: #81b3d2;
  --activ-btn-blue: #5496bd;
  --activ-btn-brown: #503e33;
  --activ-text: rgba(0, 0, 0, 0.3);
  --activ-text-white: rgba(255, 255, 255, 0.3);

  /* фокус */
  --focus-input: #ffffff;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black-light);
  text-transform: uppercase;
  background-color: var(--basic-color-site);
}

.page {
  height: 100%;
}

.page-body {
  height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.content-wrap {
  min-height: 100%;
  width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color:var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

/* главная навигация */
.main-header {
  height: 56px;
  margin: 0;
  padding: 0;
}

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 56px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation li {}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation .site-navigation-current {
  color: var(--basic-brown);
}

.site-navigation a:hover {
  color: var(--hover-text-blue);
}

.site-navigation a:active {
  color: var(--activ-text);
}

.site-navigation-first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: 70px;
}

.site-navigation-second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  align-items: center;
  margin-right: 70px;
}

.logo {
  position: relative;
  width: 138px;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  z-index: 3;
  left: 0;
}

/* !основной контент main */

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/*  приветсвие */
.preview-wrap {}

.image-preview-welcome {
  background: url(../img/white.png) bottom no-repeat,
    url(../img/backgroundphoto.png) 50% / cover no-repeat;
  width: 1200px;
  height: 509px;
  background-color: var(--color-backgroundimage);
  display: flex;
}

.image-preview-welcome img {
  margin: auto;
}

.main-title {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}

.main-title h1 {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  margin: 0;
  margin-top: 42px;
  margin-bottom: 42px;
}

.main-title p {
  margin: 0;
  margin-bottom: 53px;
}

.description {}

.description-conteiner {}

.text-image-description {
  display: flex;
}

.main-text-description {
  background-color: var(--basic-blue-light);
  width: 400px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
}

.main-text-description h2 {
  font-weight: bold;
  font-size: 21px;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 24px;
}

.main-text-description p {
  margin: 0;
  margin-bottom: 25px;
}

.main-text-description p:last-child {
  margin-bottom: 0px;
}

.image-description {
  height: 256px;
  background-color: var(--basic-gray-light);
}

/* список особенностей  */

.description-list-first {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.description-list-first h2 {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 26px;
}

.description-item img {
  margin-top: 56px;
  margin-bottom: 23px;
}

.description-list-first p {
  margin: 0;
  margin-bottom: 80px;
}

.picture {}

.wrap {
  background-color: var(--basic-gray-light);
}

.description-list-second {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.description-list-second h2 {
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-black);
  margin: 0;
  margin-top: 47px;
  margin-bottom: 26px;
}

.description-list-second p {
  margin: 0;
  margin-bottom: 23px;
}

.description-list-second p:last-child {
  margin-bottom: 53px;
}

/* предложение  поиска гостиницы*/

.offer-service {
  text-align: center;
  padding: 0;
  padding-top: 27px;
  position: relative;
  z-index: 2;
}

.offer-service::before {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--basic-white);
  position: absolute;
}

.offer-service h2 {
  position: relative;
  z-index: 5;
}

.offer-service h2 span:first-child {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 20px;
}

.offer-service h2 span:last-child {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  margin: 0;
  margin-bottom: 29px;
}


/*

! модальное окно

*/
.popup {
  position: relative;

  max-width: 568px;
  margin: 0 auto;
}

.button-offer {
  width: 568px;
  height: 86px;
  vertical-align: middle;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  border: none;
  outline: none;
  position: relative;
  z-index: 5;
}

.button-offer:hover,
.button-offer:focus {
  background-color: var(--hover-btn-brown);
}

.button-offer:active {
  background-color: var(--activ-btn-brown);
  color: var(--activ-text-white);
}

.modal {
  position: absolute;
  top: 86px;
  background-color: var(--basic-white);
  opacity: .99;
  transition: all 1s;
  z-index: -1;
  transform: translateY(0);
  box-shadow: 0px 7px 15px var(--shadow-modal);
}

.modal-hide {
  opacity: 0;
  transform: translateY(-308px);
}

.popup-form {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.popup-form p {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.label-arrival-date {
  margin-right: 21px;
}

.label-of-departure {
  margin-right: 17px;
}

.label-adults {
  margin-right: 43px;
}

.label-children {
  margin-right: 27px;
}

.search-hotel-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: end;
  padding: 55px;
}

input::-moz-placeholder {
  color: inherit;
  text-transform: uppercase;
  opacity: 1;
}

input::-webkit-input-placeholder {
  color: inherit;
  text-transform: uppercase;
  opacity: 1;
}

.input-1 {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: end;
}

.input-2 {
  grid-column: 1/-1;
  grid-row: 2/3;
  justify-self: end;
}

.input-3 {
  grid-column: 1/ 2;
  grid-row: 3/4;
  justify-self: end;
  display: flex;
  justify-content: end;
  align-items: center;
}

.input-4 {
  grid-column: 2/ 3;
  grid-row: 3/4;
  justify-self: end;
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-hotel-item {
  position: relative;
  color: var(--basic-black);
}
.btn-calendar{
  position: absolute;
  right: 0px;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  min-height: 38px;
  padding: 0 10px;
  background-color: inherit;
  border:none;
  outline: none;
}
.btn-minus{
  position: relative;
}
.minus {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.plus {
}

.calendar:hover path,
.btn-input:hover path,
.btn-input:hover rect {
  fill: var(--basic-black);
}
.btn-calendar:focus path,
.btn-input:focus path,
.btn-input:focus rect {
  fill: var(--basic-black);
}

.calendar:active path,
.btn-input:active path,
.btn-input:active rect {
  fill: var(--basic-blue-light);
}

.search-hotel-item input {
  box-sizing: border-box;
  font: inherit;
  height: 38px;
  background-color: var(--rest-input);
  border: 2px solid var(--rest-input);
  padding: 0;
  outline: none;
}

.search-hotel-item input:hover {
  background-color: var(--hover-input);
  border: 2px solid var(--hover-input);
}

.search-hotel-item input:focus {
  background-color: var(--basic-color-footer);
}

.search-hotel-item input:active {
  background-color: var(--basic-white);
  border: 2px solid var(--border-white);
}

.search-hotel-item-big input {
  width: 345px;
  padding: 0 10px;
}

.search-hotel-item-small input {
  width: 38px;
  padding: 0;
  text-align: center;
}
.btn-input{
  width: 38px;
  height: 38px;
  border: none;
  outline: none;
  text-align: center;
  background-color: var(--rest-input)
}

.button-search {
  width: 458px;
  height: 58px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
  border: none;
  outline: none;
  grid-column: 1/-1;
  grid-row: 4/5;
  margin-top: 24px;
}

.button-search:hover,
.button-search:focus {
  background-color: var(--hover-btn-blue);
}

.button-search:active {
  background-color: var(--activ-btn-blue);
  color: var(--activ-text-white);
}

.map-img {
  margin-bottom: -120px;
  width: 1200px;
  height: 594px;
  background-image: url(/img/map.jpg);
}

.map-img iframe {
  display: block;
}

/* ! футер */

.page-footer {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-color-footer);
  box-shadow: 0px 4px 4px var(--shadow-footer);
}

.inner-footer {
  border-top: 1px solid var(--border-white);
  ;
}

.main-footer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px;
}

.footer-contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-left: 72px;
}

.footer-contacts p {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 10px;
}

.footer-phone {
  color: var(--basic-black);
}

.footer-social {}

.footer-social ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 34px;
}

.footer-social li {
  padding: 0 3px;
}

.social-button {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--hover-btn-blue);
}

.social-button:active path {
  background-color: var(--activ-btn-blue);
  fill: var(--activ-text-white);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 75px;
}

.footer-copyright p {
  margin: 0;
  padding-right: 10px;
}

.footer-copyright:hover path,
.footer-copyright:focus path {
  fill: var(--activ-btn-blue);
}

.footer-copyright:active path {
  fill: var(--rest-icon-calendar);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.copyright-link {}

/* ! внутренняя страница */

.inner-conteiner {}

.sorting-wrap {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 50%;
  background-color: var(--color-backgroundimage);
  overflow: hidden;
}

.blur {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(../img/backgroundphoto.png);
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: -100px -380px;
  -webkit-filter: blur(12px);
  filter: blur(12px);
}

.sorting-input {
  z-index: 2;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  color: var(--basic-white);
  margin-bottom: 32px;
}

.sorting-input p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.sorting-input label {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  position: relative;
}

.sorting-item-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 72px;
}

.sorting-item-1 label {
  padding-left: 40px;
}

.sorting-item-2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 26px;
}

.sorting-item-2 label {
  padding-left: 43px;
}

.sorting-item-3 {
  justify-self: end;
  padding-right: 70px;
}

/* * чекбокс  */

.checkbox {
  width: 27px;
  height: 23px;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  position: absolute;
  left: 0px;
}

.check-input:checked:focus+.checkbox,
.check-input:focus+.checkbox {
  outline: 2px solid var(--basic-gray-light);
}

.check-input:checked+.checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='white'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='white'/%3E%3C/svg%3E%0A");
}

.check-input:disabled+.checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%236A6A6A'/%3E%3C/svg%3E%0A");
}

.check-input:checked:disabled+.checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28499 7.48601L4.45599 10.315L12.239 18.098L26.171 4.16601L23.343 1.33701L12.239 12.439L7.28499 7.48601Z' fill='%236A6A6A'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%236A6A6A'/%3E%3C/svg%3E%0A");
}

/* * ползунок */

.sorting-input legend {
  font-weight: bold;
  font-size: 16px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 320px;
  margin-top: 24px;
}

.range-filter {
  width: 320px;
  margin-top: 12px;
}

.range-controls {
  position: relative;
  height: 12px;
  background-color: transparent;
  border-radius: 5px;
  margin-top: 21px;
  padding-top: 0px;
  padding-right: 2px;
  padding-left: 2px;
  margin-bottom: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--activ-text-white);
}

.range-controls .bar {
  width: 83%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 3px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-toggle);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 252px;
}

.toggle:hover {
  transform: scale(1.2);
}

.price-controls {
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  position: relative;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 135px;
  padding: 6px 10px;
  text-align: center;
  color: var(--basic-white);
  border: none;
  outline: none;
  border-radius: 2px;
  background: transparent;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.price-controls::before {
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.button-show {
  display: inline-block;
  vertical-align: middle;
  color: var(--basic-white);
  font-size: 14px;
  padding: 8px 34px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin: 0;
  margin-left: 85px;
  margin-top: 3px;
}

.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}


.search-results-wrap {}

.search-results-sorting {
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-results-sorting h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-left: 73px;
}

.search-results-sorting p {
  padding: 0;
  margin: 0;
  margin-left: 47px;
}

.search-results-list {
  min-width: 238px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 40px;
}

.search-results-list a {
  color: inherit;
  padding: 0;
  margin: 0;
}

.search-results-list li {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  color: var(--rest-black-rgb);
  border-bottom: 1px dashed var(--hover-text-blue);
}

.search-results-list li:hover {
  color: var(--hover-text-blue);
  cursor: pointer;
}

.search-results-list li:active {
  color: var(--basic-black);
  border-bottom: none;
}

.search-results-list .item-active {
  color: var(--active-text-blue);
  border-bottom: none;
}

.switch {
  display: flex;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-left: auto;
  margin-right: 96px;
}

.switch li:hover path {
  fill: var(--basic-black);
}

.switch li:active path {
  fill: var(--basic-blue-light);
}

.switch-current {
  position: absolute;
  transform: rotate(180deg);
  left: 23px;
}

.switch-current path {
  fill: var(--basic-blue-light);
}

/* * результаты поиска гостиниц  */

.search-results {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.item-results {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid var(--border-white);
  padding: 3px 0;
}

.img-inner img {
  margin-left: 72px;
  margin-top: 26px;
  margin-bottom: 23px;
}

.description-inner {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  display: grid;
  grid-template-columns: 115px 140px;
  grid-template-rows: 30px 30px 30px;
  margin-top: 20px;
  margin-left: 30px;
}

.description-inner h2 {
  grid-column: 1/3;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.description-inner h2:hover {
  color: var(--hover-text-blue);
}

.description-inner h2:active {
  color: var(--rest-black-rgb);
}

.description-inner p {
  margin: 0;
  padding-top: 2px;
}

.rating-wrap {
  margin-left: auto;
  margin-right: 70px;
  display: grid;
  align-items: end;
  justify-items: end;
}

.stars {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

}

.stars li {
  padding-left: 6px;
  margin-bottom: 17px;
}

.rating {
  box-sizing: border-box;
  min-width: 110px;
  text-align: center;
  background-color: var(--basic-color-site);
  margin-bottom: 29px;
}

.rating p {
  margin: 0;
  padding: 3px 0;
}

.more-details {
  box-sizing: border-box;
  width: 110px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 3px 0;
  margin-top: 9px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue-light);
}

.more-details:hover {
  background-color: var(--hover-btn-blue);
}

.more-details:active {
  background-color: var(--activ-btn-blue);
  color: var(--activ-text-white);
}

.reservation {
  box-sizing: border-box;
  width: 142px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 3px 0;
  margin-top: 9px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
}

.reservation:hover {
  background-color: var(--hover-btn-brown);
}

.reservation:active {
  background-color: var(--activ-btn-brown);
  color: var(--activ-text-white);
}

.stars {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* анимация  ошибки */

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}